.container{
    background-color: whitesmoke;
    margin: 0%;
}

.basketItems{
    max-height: 19rem;
    overflow-y: scroll;
}

.basketDropdown{
    width: 10rem;
    height: 5rem;
    background-color: black;
    display: none;
}

.basketDiv:hover .basketDropdown{
    display: block;
    position: relative;
}

.emptyBasket{
    width: 38rem;
    height: 6rem;
    margin: 1rem;
    display: inline-flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    border: 1px solid #ccc;
}

.checkoutDiv{
    display: flex;
    margin: .4rem;
    justify-content: space-between;
}

.warning{
    font-size: .8rem;
    background-color: white;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    padding: .4rem;
    margin: 1%;
}

.warning p{
    margin: 0%;
    padding: 0%;
}

.charges{
    margin: 0%;
    padding: 0%;
    margin-right: 1rem;
    width: fit-content;
}


.charges div{
    display: flex;
    width: 18rem;
    margin: 0%;
    justify-content: space-between;
}

.charges section{
    background-color: white;
    margin: .4rem 0rem;
    padding: .4rem;
}

.charges p{
    margin: 0%;
    padding: 0%;
}

/* .charges div:first-child{
    margin-top: .6rem;
    margin-bottom: 0rem;
    background-color: white;
} */

/* .charges div:nth-child(2){
    margin-bottom: .6rem;
    background-color: white;
} */

.charges .buttonDiv{
    background-color: #84c225;
    display: inline-flex;
    justify-content: center;
    color: white;
    height: 2rem;
    align-items: center;
    width: 19em;
    cursor: pointer;
}

.listItems{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr .1fr;
    margin: .3rem;
    background-color: white;
}

.listItems img{
    border: 1px solid rgba(0, 0, 0, 0.479);
    margin-left: .7rem;
}

.listItems div{
    display: flex;
    flex-direction: column;
}

.listItems .nameDiv{
    align-self: center;
}

.listItems .nameDiv span{
    margin: .2rem;
}

.listItems .nameDiv span:first-child , .listItems .nameDiv span:last-child {
    font: 400 11px sans-serif;
    color: #888;
    display: inline-block;
    padding-bottom: 0;
}

.listItems .nameDiv span:nth-child(2){
    color: #888;
    font-weight: 700;
}

.listItems .quantityDiv{
    display: inline-flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    margin-left: 3rem;
   
}

.listItems .quantityDiv p{
    margin: 0%;
}

.listItems .quantityDiv span{
    width: 1.5rem;
    height: 1.5rem;
    background-color: whitesmoke;
    cursor: pointer;
    border: 1px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: .3rem;
    border-radius: 1rem;
}



.priceDiv{
display: grid;
grid-template-rows: auto auto;
justify-content: center;
margin: auto;
}

.priceDiv span:last-child{
    font-size: .58rem;
    color: #84c225;
}

.crossDiv{
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    margin-right: 1rem;
}